<TABLE class="TreeTableWidget" border=0 cellpadding=0 cellspacing=0 width=100% bgcolor=#efefef><tr><td> 

 <!-- ..........................data begin...........................  -->

    <TABLE class=TreeTableWidget border=0 cellspacing=0 cellpadding=1 align=center width=100%"  bgcolor=#ffffff> 
    <tr class="TableCell">

       <td valign=top bgcolor=#bbbbbb>&nbsp;<font color=#444477>OPERATION</font>&nbsp;</td>

       <td valign=top bgcolor=#aaaaaa>&nbsp;<font color=#444477>OBJECT_NAME</font>&nbsp;</td>

       <td valign=top bgcolor=#bbbbbb>&nbsp;<font color=#444477>OPTIONS</font>&nbsp;</td>

       <td valign=top bgcolor=#aaaaaa>&nbsp;<font color=#444477>CARDINALITY</font>&nbsp;</td>

       <td valign=top bgcolor=#bbbbbb>&nbsp;<font color=#444477>COST</font>&nbsp;</td>

    </tr>

   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/gray.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;SELECT STATEMENT&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;45&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;62357&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/gray.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;FILTER&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;&nbsp&nbsp;</td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmafilter.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Filter Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;SUM(COST)>=1000&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/gray.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;GROUP BY&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;45&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;62357&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/join.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH JOIN&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 ><font size=-1>&nbsp;RIGHT SEMI&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;450&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;62356&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;SID=SID&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/view.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;VIEW&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf ><font size=-1>&nbsp;SYS.VW_NSO_1&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;5&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;100&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/gray.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;GROUP BY&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;5&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;100&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmafilter.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Filter Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;COUNT(*)>1&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/join.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH JOIN&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;2000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;99&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;OS.CID=CC.CID&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/gray.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;INLIST ITERATOR&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;&nbsp&nbsp;</td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/index.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;INDEX&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf ><font size=-1>&nbsp;CLEANING_COMPANY_REGION_CID&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 ><font size=-1>&nbsp;RANGE SCAN&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;1000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;4&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/or.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,204)>&nbsp;OR&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;REGION='Liguria'&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;REGION='Piedmont'&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/join.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH JOIN&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;20000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;95&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;OS.SID=S.SID&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/table.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;TABLE ACCESS&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;SERVICES&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;FULL&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;10&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;2&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmafilter.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Filter Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;CATEGORY='IndoorCleaning'&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/table.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;TABLE ACCESS&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf ><font size=-1>&nbsp;OFFERED_SERVICES&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;FULL&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;200000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;92&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/join.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;HASH JOIN&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;&nbsp&nbsp;</td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;9000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;62256&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;CS.BID=B.BID&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/table.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;TABLE ACCESS&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;BUILDING&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 ><font size=-1>&nbsp;BY INDEX ROWID BATCHED&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;4500&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;32&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmafilter.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Filter Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;BUILDINGTYPE<>'Office'&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/index.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;INDEX&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf ><font size=-1>&nbsp;BUILDING_CITY&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 ><font size=-1>&nbsp;RANGE SCAN&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;5000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;14&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;CITY='Turin'&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><font size=-1><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/table.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;TABLE ACCESS&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#ffffdf ><font size=-1>&nbsp;CLEANING_SERVICES&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 ><font size=-1>&nbsp;BY INDEX ROWID BATCHED&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffdf >&nbsp;10000000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#ffffd2 >&nbsp;62198&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff ><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/index.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%>&nbsp;INDEX&nbsp;</td></tr></table></font></td>
      <td width=11% valign=top bgcolor=#dfdfdf ><font size=-1>&nbsp;CLEANING_SERVICES_DATE&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 ><font size=-1>&nbsp;RANGE SCAN&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfdfdf >&nbsp;10000000&nbsp;</font></td>
      <td width=11% valign=top bgcolor=#dfd5d1 >&nbsp;26588&nbsp;</font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/sigmakeys.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,170)>&nbsp;Access Predicates&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/and.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,204)>&nbsp;AND&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;Date>=TO_DATE(' 2019-01-01 00:00:00', 'syyyy-mm-dd hh24:mi:ss')&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(0,0,238)>&nbsp;Date<=TO_DATE(' 2019-12-31 00:00:00', 'syyyy-mm-dd hh24:mi:ss')&nbsp;</td></tr></table></font></td>
   </tr>
   <tr>
      <td width=45% valign=top bgcolor=#ffffff colspan=5><table width=100% border=0 cellspacing=0 cellpadding=0><tr><td width=1%><table CELLSPACING=0 cellpadding=0><tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><IMG SRC="images/minus.gif" wWIDTH=16 hHEIGHT=16 BORDER=0><IMG SRC="images/empty.png" wWIDTH=16 hHEIGHT=16 BORDER=0></td><tr></table></td>  <td width=99%><font color=rgb(119,119,0)>&nbsp;Other XML&nbsp;</td></tr></table></font></td>
   </tr>
</table>

 <!-- ..........................data end...........................  -->

</td></tr></TABLE> 
